In [8]:
import tensorflow as tf
import pandas as pd
import numpy as np
import assist_function

# load model

In [9]:
model = tf.keras.models.load_model('trained_models\DCNN_model.hdf5')

# load data

In [10]:
current_model = [224, 224, 3]

X_pred = assist_function.load_and_resize_pred(
    "data/input_data/all_GSV_img_paths.txt", current_model)

print(X_pred.shape)

(6018, 224, 224, 3)

In [11]:
pred_metadata = assist_function.retrieve_metadata('data/input_data/all_GSV_img_paths.txt')
pred_metadata.head(3)

                 lat                lng  heading
0  1.455238538601311  103.7626485082271        0
1  1.455238538601311  103.7626485082271      120
2  1.455238538601311  103.7626485082271      180

# predict

In [12]:
import time
st =  time.time()

pred_ts = model.predict(X_pred, batch_size=20)
pred_ts.shape

et =  time.time()
elapsed_time = et - st
print('inference time = ', elapsed_time,'seconds')

301/301 [==============================] - 264s 873ms/step
training time =  263.9920666217804 seconds

In [1]:
263.9920666217804 / 6018 * 1000

43.86707654067471

In [13]:
DCNN_prediction = pd.concat([pred_metadata, pd.Series(pred_ts.flatten())], 
                            axis=1)
DCNN_prediction = DCNN_prediction.rename(columns={0: 'pred'})
DCNN_prediction

                    lat                lng  heading      pred
0     1.455238538601311  103.7626485082271        0  0.380937
1     1.455238538601311  103.7626485082271      120  0.080278
2     1.455238538601311  103.7626485082271      180  0.009857
3     1.455238538601311  103.7626485082271      240  0.031546
4     1.455238538601311  103.7626485082271      300  0.272411
...                 ...                ...      ...       ...
6013  1.472754438426505   103.763838550999      120  0.041523
6014  1.472754438426505   103.763838550999      180  0.029273
6015  1.472754438426505   103.763838550999      240  0.016789
6016  1.472754438426505   103.763838550999      300  0.064348
6017  1.472754438426505   103.763838550999       60  0.195385

[6018 rows x 4 columns]

In [14]:
#DCNN_prediction.to_csv("DCNN_prediction.csv")