In [1]:
import numpy as np
import pandas as pd 
import os
import assist_function

In [2]:
test_path = "data\input_data\labelled_pair_test.txt"
test_img_paths, test_lbl_paths = assist_function.save_file_path_in_list(test_path)

In [3]:
test_metadata = assist_function.retrieve_metadata(test_path)
test_metadata

                  lat                lng  heading
0   1.464214838923537  103.7680466183046      120
1    1.45906910621281  103.7668877466677      180
2   1.463961299646011  103.7717313271459      180
3   1.467388080645603  103.7654123835077        0
4    1.46385196757463  103.7714928793899      180
..                ...                ...      ...
75  1.461623873936034  103.7626822794463      180
76  1.471528068901578  103.7667682176015      120
77          1.4586617        103.7687351        0
78   1.46526614898588  103.7697100603857        0
79  1.465542948619651   103.761433457236      240

[80 rows x 3 columns]

# save test images in separate folder to upload

In [86]:
from PIL import Image

for i, path1 in enumerate(test_img_paths):
    img = Image.open(path1)
    filename = f"{test_metadata.iloc[i, 0]}-{test_metadata.iloc[i, 1]}-{test_metadata.iloc[i, 2]}.jpg"
    save_path = os.path.join("images", "test_img_to_upload", "img", filename)
    img.save(save_path)

In [87]:
# save test label images
for i, path1 in enumerate(test_lbl_paths):
    img = Image.open(path1)
    filename = f"{test_metadata.iloc[i, 0]}-{test_metadata.iloc[i, 1]}-{test_metadata.iloc[i, 2]}.jpg"
    save_path = os.path.join("images", "test_img_to_upload", "lbl", filename)
    img.save(save_path)

In [102]:
# check if the img and lbl are identical
for i, zip_ in enumerate(zip(test_img_paths, test_lbl_paths)):
    img, lbl = zip_
    if os.path.basename(img) != os.path.basename(lbl):
        print(i)

# get onedrive embed data for each file

In [6]:
# the df below shows that they have the same sequence as the test_evaluation df.
test_img_loc = "data\\test_embed_img_paths.txt"
test_lbl_loc = "data\\test_embed_lbl_paths.txt"
def retrieve_data(path):

    data, gt = assist_function.save_file_path_in_list(path)

    label_metadata = []
    for file_name in data:
        # Retrieve the file name
        file_name = os.path.basename(file_name)

        # Remove the file extension
        # Split the file name into its components using the '-' separator
        file_components = file_name.split('-')
        print(file_components)
        # Extract the latitude, longitude, and heading information from the file name
        lat = (file_components[0])
        lng = (file_components[1])
        heading = int(file_components[2].split('.')[0])

        label_metadata.append([lat, lng, heading])

    return pd.DataFrame(label_metadata, columns=['lat', 'lng', 'heading'])

dashboard_test_metadata =  retrieve_data(test_img_loc)
dashboard_test_metadata

['1.46517', '103.7589044', '300']
['1.4574946', '103.7690224', '180']
['1.4581955', '103.7692668', '240']
['1.4583986', '103.7694707', '0']
['1.4583986', '103.7694707', '120']
['1.4583986', '103.7694707', '60']
['1.4586617', '103.7687351', '0']
['1.4639632', '103.7627382', '60']
['1.45901107820221', '103.7624136128352', '300']
['1.45901107820221', '103.7624136128352', '60']
['1.45906910621281', '103.7668877466677', '180']
['1.46071432408138', '103.7699011166247', '300']
['1.46236597964198', '103.758574895118', '300']
['1.46385196757463', '103.7714928793899', '180']
['1.46430060487353', '103.7620330248245', '120']
['1.46526614898588', '103.7697100603857', '0']
['1.46677883870257', '103.7544623324297', '180']
['1.46945244117294', '103.7610905326543', '300']
['1.456956730129144', '103.7658065959874', '60']
['1.460878239518425', '103.7674629375813', '60']
['1.460944157514067', '103.7671527090375', '180']
['1.461077766593327', '103.7573552840503', '240']
['1.461623873936034', '103.7626822794463', '180']
['1.461921660858821', '103.7590475902103', '0']
['1.462636196475213', '103.7541424098461', '120']
['1.462781780225513', '103.7655581686115', '0']
['1.462862716977899', '103.7547995824009', '240']
['1.462992796151535', '103.7600531889171', '180']
['1.463494164258524', '103.7714715720656', '60']
['1.463579539463375', '103.7696922897822', '0']
['1.463948649009414', '103.7649269352819', '0']
['1.463961299646011', '103.7717313271459', '180']
['1.464042688705526', '103.7594346232648', '300']
['1.464178750290092', '103.7690218711677', '0']
['1.464214838923537', '103.7680466183046', '120']
['1.464266713771107', '103.7697750424634', '300']
['1.464273354039865', '103.7592911433157', '0']
['1.464293020059677', '103.7540016759753', '60']
['1.464350708088489', '103.7540686836667', '240']
['1.464415090430297', '103.7714079153492', '240']
['1.464649823553547', '103.7688264840695', '180']
['1.464722211306922', '103.7567332831377', '120']
['1.464789911405869', '103.7540759325219', '180']
['1.465263091268724', '103.7703813665467', '240']
['1.465502135945669', '103.7556340918723', '120']
['1.465542948619651', '103.761433457236', '240']
['1.465615805963525', '103.7635684675639', '180']
['1.465669377091968', '103.75952230451787', '120']
['1.465931646689613', '103.7552430033127', '240']
['1.466108495210899', '103.764850816169', '0']
['1.466340630049301', '103.7674158153312', '120']
['1.466349024356451', '103.7551521266587', '240']
['1.466423192937057', '103.7612467449035', '0']
['1.466524794154168', '103.765318936135', '180']
['1.466830674797755', '103.7591510228726', '0']
['1.467199312996713', '103.7696596661431', '240']
['1.467218071579239', '103.7660625385508', '300']
['1.467218071579239', '103.7660625385508', '60']
['1.467228248149328', '103.7566802416924', '300']
['1.467247534403198', '103.76487215141309', '180']
['1.467268049979351', '103.7590177096783', '120']
['1.467329559448094', '103.757845832284', '240']
['1.467388080645603', '103.7654123835077', '0']
['1.467683493318858', '103.7562154227241', '300']
['1.467926379211726', '103.7582919153666', '300']
['1.468114195199639', '103.761712818976', '180']
['1.468174495353464', '103.7683610925958', '300']
['1.468482215059858', '103.7555850289366', '300']
['1.469061059236245', '103.7683500413361', '60']
['1.469104171408458', '103.7625577149652', '120']
['1.469166825548414', '103.7557410579743', '60']
['1.469181707133791', '103.7681134561862', '240']
['1.469294151137444', '103.7630826723758', '240']
['1.470574083134988', '103.7678514094437', '300']
['1.470685234257246', '103.7628031309731', '240']
['1.470734397572117', '103.7617157363643', '300']
['1.471184855595407', '103.7679634246385', '0']
['1.471528068901578', '103.7667682176015', '120']
['1.472061573915674', '103.7622291092909', '300']
['1.4592569875671175', '103.76612880881731', '0']

                   lat                 lng  heading
0              1.46517         103.7589044      300
1            1.4574946         103.7690224      180
2            1.4581955         103.7692668      240
3            1.4583986         103.7694707        0
4            1.4583986         103.7694707      120
..                 ...                 ...      ...
75   1.470734397572117   103.7617157363643      300
76   1.471184855595407   103.7679634246385        0
77   1.471528068901578   103.7667682176015      120
78   1.472061573915674   103.7622291092909      300
79  1.4592569875671175  103.76612880881731        0

[80 rows x 3 columns]

In [7]:
gt, _ = assist_function.save_file_path_in_list(test_lbl_loc)
metadata, img = assist_function.save_file_path_in_list(test_img_loc)

In [8]:
# wait to add lbl url data
test_dashboard = pd.concat([dashboard_test_metadata, pd.Series(img), pd.Series(gt)], axis=1)
test_dashboard.dtypes

lat        object
lng        object
heading     int64
0          object
1          object
dtype: object

In [9]:
test_dashboard[['lat','lng']] = test_dashboard[['lat','lng']].astype(float)

In [10]:
test_dashboard

,lat,lng,heading,0,1
0,1.465170,103.758904,300,https://bnz06pap004files.storage.live.com/y4ms...,https://sat02pap003files.storage.live.com/y4mv...
1,1.457495,103.769022,180,https://bnz06pap004files.storage.live.com/y4m4...,https://sat02pap003files.storage.live.com/y4m-...
2,1.458195,103.769267,240,https://bnz06pap004files.storage.live.com/y4mw...,https://sat02pap003files.storage.live.com/y4mx...
3,1.458399,103.769471,0,https://bnz06pap004files.storage.live.com/y4mY...,https://sat02pap003files.storage.live.com/y4mI...
4,1.458399,103.769471,120,https://bnz06pap004files.storage.live.com/y4mv...,https://sat02pap003files.storage.live.com/y4mB...
...,...,...,...,...,...
75,1.470734,103.761716,300,https://sat02pap003files.storage.live.com/y4mk...,https://bnz05pap002files.storage.live.com/y4mt...
76,1.471185,103.767963,0,https://sat02pap003files.storage.live.com/y4mS...,https://bnz05pap002files.storage.live.com/y4mT...
77,1.471528,103.766768,120,https://sat02pap003files.storage.live.com/y4mo...,https://bnz05pap002files.storage.live.com/y4mf...
78,1.472062,103.762229,300,https://sat02pap003files.storage.live.com/y4mt...,https://bnz05pap002files.storage.live.com/y4mz...
79,1.459257,103.766129,0,https://sat02pap003files.storage.live.com/y4mR...,https://bnz05pap002files.storage.live.com/y4mt...

In [11]:
# read the test_evaluation files and concat

def merge_embed_link_with_test_evaluation_df(csv_path):

    df = pd.read_csv(csv_path).drop('Unnamed: 0', axis=1)
    df_merged = pd.merge(df, test_dashboard, on=['lat','lng','heading'], how='inner')
    df_merged.rename(columns = {0: 'img_url', 1: 'lbl_url'}, inplace=True)

    return df_merged

DCNN_error_analysis = merge_embed_link_with_test_evaluation_df("data\output_data\DCNN_test_evaluation.csv")
DLV3_error_analysis = merge_embed_link_with_test_evaluation_df("data\output_data\DLV3_test_evaluation.csv")
PixSeg_error_analysis = merge_embed_link_with_test_evaluation_df("data\output_data\PixSeg_test_evaluation.csv")

In [12]:
DCNN_error_analysis['model'] = 'DCNN'
DLV3_error_analysis['model'] = 'DLV3'
PixSeg_error_analysis['model'] = 'PixSeg'

In [13]:
DCNN_error_analysis.describe()

             lat         lng     heading       pred         gt       diff
count  79.000000   79.000000   79.000000  79.000000  79.000000  79.000000
mean    1.464849  103.763432  157.974684   0.295689   0.300276   0.045979
std     0.003659    0.005373  107.921859   0.234026   0.241570   0.038451
min     1.456957  103.754002    0.000000   0.006767   0.000000   0.001603
25%     1.462822  103.759033   60.000000   0.084802   0.088508   0.022066
50%     1.464790  103.763568  180.000000   0.251299   0.239517   0.034771
75%     1.467258  103.768232  240.000000   0.514642   0.483797   0.057301
max     1.472062  103.771731  300.000000   0.803268   0.783761   0.226097

In [14]:
DCNN_error_analysis['diff'].mean()

0.0459791800799726

In [15]:
all_error_analysis = pd.concat([DCNN_error_analysis, DLV3_error_analysis, PixSeg_error_analysis], axis=0).reset_index(drop=True)
all_error_analysis

,lat,lng,heading,pred,gt,diff,img_url,lbl_url,model
0,1.464215,103.768047,120,0.086347,0.141582,0.055235,https://bnz06pap004files.storage.live.com/y4mn...,https://sat02pap003files.storage.live.com/y4m-...,DCNN
1,1.459069,103.766888,180,0.018569,0.000000,0.018569,https://bnz06pap004files.storage.live.com/y4m8...,https://sat02pap003files.storage.live.com/y4mI...,DCNN
2,1.463961,103.771731,180,0.154015,0.197325,0.043310,https://bnz06pap004files.storage.live.com/y4mm...,https://sat02pap003files.storage.live.com/y4mW...,DCNN
3,1.467388,103.765412,0,0.025451,0.040079,0.014628,https://sat02pap003files.storage.live.com/y4mw...,https://bnz05pap002files.storage.live.com/y4mG...,DCNN
4,1.463852,103.771493,180,0.052868,0.000000,0.052868,https://bnz06pap004files.storage.live.com/y4my...,https://sat02pap003files.storage.live.com/y4mn...,DCNN
...,...,...,...,...,...,...,...,...,...
232,1.461624,103.762682,180,0.093212,0.091996,0.001216,https://bnz06pap004files.storage.live.com/y4mw...,https://sat02pap003files.storage.live.com/y4mP...,PixSeg
233,1.471528,103.766768,120,0.224789,0.234116,0.009327,https://sat02pap003files.storage.live.com/y4mo...,https://bnz05pap002files.storage.live.com/y4mf...,PixSeg
234,1.458662,103.768735,0,0.296775,0.000000,0.296775,https://bnz06pap004files.storage.live.com/y4mC...,https://sat02pap003files.storage.live.com/y4mY...,PixSeg
235,1.465266,103.769710,0,0.406928,0.431780,0.024853,https://bnz06pap004files.storage.live.com/y4mv...,https://sat02pap003files.storage.live.com/y4mk...,PixSeg
236,1.465543,103.761433,240,0.092893,0.010762,0.082131,https://sat02pap003files.storage.live.com/y4mz...,https://sat02pap003files.storage.live.com/y4mW...,PixSeg

In [156]:
all_error_analysis.to_csv('data/output_data/all_error_analysis.csv', index=False)