In [1]:
import pandas as pd
import numpy as np

# clustered data

concat clustered data from all model prediction

In [7]:
DCNN_clustered = pd.read_csv("data\output_data\DCNN_km4.csv")
DCNN_clustered['model'] = 'DCNN'

DLV3_clustered = pd.read_csv("data\output_data\DLV3_km4.csv")
DLV3_clustered['model'] = 'DLV3'

PixSeg_clustered = pd.read_csv("data\output_data\PixSeg_km4.csv")
PixSeg_clustered['model'] = 'PixSeg'

print(DCNN_clustered.shape, DLV3_clustered.shape, PixSeg_clustered.shape)

(1002, 5) (1002, 5) (1002, 5)

In [8]:
all_clustered = pd.concat([DCNN_clustered, DLV3_clustered, PixSeg_clustered], axis=0).reset_index(drop=True)
all_clustered

           lat         lng      pred  cluster   model
0     1.455239  103.762649  0.152203        0    DCNN
1     1.455263  103.761448  0.526109        3    DCNN
2     1.455309  103.761624  0.414165        2    DCNN
3     1.455404  103.763271  0.333655        2    DCNN
4     1.455428  103.763359  0.228343        1    DCNN
...        ...         ...       ...      ...     ...
3001  1.472534  103.764347  0.109265        0  PixSeg
3002  1.472615  103.763249  0.470311        3  PixSeg
3003  1.472662  103.762351  0.100387        0  PixSeg
3004  1.472681  103.764005  0.100094        0  PixSeg
3005  1.472754  103.763839  0.073850        0  PixSeg

[3006 rows x 5 columns]

In [9]:
all_clustered.to_csv("data/output_data/all_clustered_GVI_final.csv", index=False)

# test evaluation data

In [5]:
DCNN_test = pd.read_csv("data\output_data\DCNN_test_evaluation.csv").drop('Unnamed: 0', axis=1)
DCNN_test['model'] = 'DCNN'

DLV3_test = pd.read_csv("data\output_data\DLV3_test_evaluation.csv").drop('Unnamed: 0', axis=1)
DLV3_test['model'] = 'DLV3'

PixSeg_test = pd.read_csv("data\output_data\PixSeg_test_evaluation.csv").drop('Unnamed: 0', axis=1)
PixSeg_test['model'] = 'PixSeg'

print(DCNN_test.shape, DLV3_test.shape, PixSeg_test.shape)

(80, 7) (80, 7) (80, 7)

In [6]:
DLV3_test

         lat         lng  heading      pred        gt      diff model
0   1.464215  103.768047      120  0.059813  0.141582  0.081769  DLV3
1   1.459069  103.766888      180  0.069010  0.000000  0.069010  DLV3
2   1.463961  103.771731      180  0.244946  0.197325  0.047621  DLV3
3   1.467388  103.765412        0  0.038601  0.040079  0.001478  DLV3
4   1.463852  103.771493      180  0.047860  0.000000  0.047860  DLV3
..       ...         ...      ...       ...       ...       ...   ...
75  1.461624  103.762682      180  0.076564  0.091996  0.015432  DLV3
76  1.471528  103.766768      120  0.187924  0.234116  0.046192  DLV3
77  1.458662  103.768735        0  0.136152  0.000000  0.136152  DLV3
78  1.465266  103.769710        0  0.519386  0.431780  0.087606  DLV3
79  1.465543  103.761433      240  0.145373  0.010762  0.134611  DLV3

[80 rows x 7 columns]

In [7]:
all_test = pd.concat([DCNN_test, DLV3_test, PixSeg_test], axis=0).reset_index(drop=True)
all_test

          lat         lng  heading      pred        gt      diff   model
0    1.464215  103.768047      120  0.086347  0.141582  0.055235    DCNN
1    1.459069  103.766888      180  0.018569  0.000000  0.018569    DCNN
2    1.463961  103.771731      180  0.154015  0.197325  0.043310    DCNN
3    1.467388  103.765412        0  0.025451  0.040079  0.014628    DCNN
4    1.463852  103.771493      180  0.052868  0.000000  0.052868    DCNN
..        ...         ...      ...       ...       ...       ...     ...
235  1.461624  103.762682      180  0.093212  0.091996  0.001216  PixSeg
236  1.471528  103.766768      120  0.224789  0.234116  0.009327  PixSeg
237  1.458662  103.768735        0  0.296775  0.000000  0.296775  PixSeg
238  1.465266  103.769710        0  0.406928  0.431780  0.024853  PixSeg
239  1.465543  103.761433      240  0.092893  0.010762  0.082131  PixSeg

[240 rows x 7 columns]

In [8]:
DCNN_test['diff'].mean()

0.04587160463121773

In [9]:
all_test.to_csv("data/output_data/all_test_GVI.csv", index=False)